@page "/members"
@using LibraryApi.Contracts.Member
@using LibrarianBlazorApp.Services
@inject IMemberService MemberService


@if (Members is null)
{
    <h3 class="align-content-center">Loading...</h3>
}
else
{
    <button type="button"
            class="btn btn-primary text-align-right"
            style="float: right; margin-bottom: 1rem">
        New Member</button>

    <table class="table table-bordered table-hover">
        <thead>
        <tr>
            <th>Name</th>
            <th>Address</th>
            <th>Library Card</th>
            <th>Date of Birth</th>
            <th></th>
        </tr>
        </thead>
        <tbody>
        @foreach (var member in Members)
        {
        <tr>
            <td>@member.Name</td>
            <td>@member.Address</td>
            <td>@member.Id</td>
            <td>@member.DateOfBirth!.Value.ToShortDateString()</td>
            <td><a href="members/@member.Id" class="btn btn-primary">Details</a></td>
        </tr>
        }
        </tbody>
    </table>
}

@code {
    private IEnumerable<MemberResponseDto>? Members { get; set; }

    protected override async Task OnInitializedAsync()
    {
        Members = await MemberService.GetAllMembersAsync();
    }
}